section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

.evolution {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;

    >img {
        height: 40px;
        width: 40px;
    }
}

.selectable {
    cursor: pointer;
    background-color: lightgray;

    &:hover {
        background-color: lightblue;
    }
}