h2,
h3 {
    margin: 0;
}

.singlepokemoncard {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(236, 236, 236);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    transition: box-shadow 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        -webkit-box-shadow: 5px 5px 15px 5px #000000;
        box-shadow: 5px 5px 15px 5px #000000;
    }

    img {
        align-self: center;
        border: 1px solid black;
        border-radius: 20px;
        width: 60%;
        height: auto;
        padding: 5px;
        background-color: rgb(255, 255, 255);
    }

    h2 {
        align-self: center;
    }

    h3,
    li {
        font-size: 1.2em;
    }

    ul {
        list-style-type: none;
        padding: 5px;
    }
}

.typebadge {
    margin: 2px;
    font-size: 0.5em;
    padding: 1px 10px;
    border-radius: 5000px;
    border: 1px solid black;
}