h2,
h3 {
    margin: 0;
}

.singlepokemoncard {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(236, 236, 236);
    overflow: hidden;
    transition:
        box-shadow 125ms ease-in-out,
        transform 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            -webkit-box-shadow: 5px 5px 15px 5px #000000;
            box-shadow: 5px 5px 15px 5px #000000;
            transform: scale(1.05);
            z-index: 1;
        }

    .pokemon-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        padding: 5px;


        img {
            align-self: flex-start;
            border-radius: 20px;
            width: 60%;
            height: auto;
            padding: 5px;
        }

        h2 {
            align-self: center;
        }

        h3,
        li {
            font-size: 1.2em;
        }

        ul {
            list-style-type: none;
            padding: 5px;
        }
    }
}

.typebadge {
    margin: 2px;
    font-size: 0.5em;
    padding: 1px 10px;
    border-radius: 5000px;
    border: 1px solid black;
}