<section>
	<div class="headline" mat-dialog-title>
		<img src="{{ pokemon.image }}">
		<h2 mat-dialog-title>{{ pokemon.name }}</h2>
		<mat-dialog-actions align="end">
			<button mat-button mat-dialog-close>
				Close
			</button>
		</mat-dialog-actions>
	</div>
	<mat-dialog-content class="mat-typography">
		<div class="stat_content">
			<div>
				<h3>Basics:</h3>
				<table>
					<tbody>
						@for (base of basicStatsTypes; track basicStatsTypes) {
						<tr>
							<td>{{ base.name }}:</td>
							<td>{{ pokemon[base.property] }}</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
			<div>
				<h3>Stats:</h3>
				<table>
					<tbody>
						@for(stat of statsTypes | keyvalue; track statsTypes ) {
						<tr class="statbar">
							<td>{{ stat.value.name }}:</td>
							<td>
								<div [ngStyle]="{'width.%':pokemon[stat.value.property] * 100 / pokemon.stat_maxvalue}">
									{{ pokemon[stat.value.property] }}</div>
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
			<div>
				<h3>Evolutions:</h3>
				<app-evolutiontree (onSelectPokemon)="selectEvolution($event)" [initialPokemonID]="pokemon.pokemonID"
					[evolutionTreeID]="pokemon.evolutionTreeID"></app-evolutiontree>
			</div>
		</div>
	</mat-dialog-content>
</section>