/* You can add global styles to this file, and also import other style files */
$main-bg-color: rgb(24, 88, 92);


body {
    background-color: rgb(24, 88, 92);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom_dialog {
    >mat-dialog-container {
        border-radius: 20px;
        overflow: hidden;
    }
}

app-header {
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $main-bg-color;
}